<p *ngIf="isAuthenticated" class="loggedin-user">
  Welcome User, <button (click)="doLogout()">LogOut</button>
</p>

<div class="tab">
  <button
    class="tablinks"
    (click)="activeTab = 'list'"
    [class.active]="activeTab == 'list'"
  >
    Appointments List
  </button>
  <button
    class="tablinks"
    (click)="activeTab = 'new'"
    [class.active]="activeTab == 'new'"
  >
    New Appointment
  </button>
</div>
<div *ngIf="activeTab == 'list'" id="list" class="tabcontent">
  <div>
    <h2>Upcoming Appointments</h2>
    <ol>
      <li>A</li>
      <li>B</li>
    </ol>
  </div>

  <div>
    <h2>Previous Appointments</h2>
    <ol>
      <li>A</li>
      <li>B</li>
    </ol>
  </div>
</div>

<div *ngIf="activeTab == 'new'" id="new" class="tabcontent"></div>
